/*
This file is part of the mitoTree project and authored by Noah Hurmer.

Copyright 2024, Noah Hurmer & mitoTree.

This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/


/* general styles for tree viz pages */
.tree {
    width: 100%;
    height: 100%;
}


/* radial tree on homepage */
#radial-tree {
    position: relative;
    text-align: center;
    /*margin-top: -1em;*/
    height: 100%;
    width: 100%;
    max-height: 82vh;
    max-width: 59vw;
}
/* make the SVG scale to the container */
#radial-tree > svg {
    width: 100%;
    height: 100%;
}


/* collapsible tree section */
#collapsible-tree {
    overflow-x: auto; /* enables horizontal scrolling */
    font: 10px sans-serif;
    margin: auto;
    text-align: center; /* necessary to keep tree in center */
}

#collapsible-tree .node circle {
    cursor: pointer;
}

/* tooltip styles specific to the collapsible tree */
#collapsible-tree .tooltip {
    position: absolute;
    z-index: 1000;
    text-align: left;
    width: auto;
    padding: 5px;
    font: 12px sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* controls of the linear tree on Explore mitoTree */
#tree-controls {
    position: sticky; /* keep on the screen when scrolling */
    max-width: 310px;
    top: 1vh;
    left: 0;
    z-index: 100;
}

/* change the cursor to grabbing when dragging */
#collapsible-tree.dragging {
    cursor: grabbing;
}

/* 3 way toggle on linear tree */
/* Original code by Benjamin Sterling, copied from  https://codepen.io/ben_sterling/pen/oxVmjG */
.switch {
    position: relative;
    height: 30px;
    width: 100%;
    margin: 10px 0;
    background: gray;
    border-radius: 30px;
    display: flex;
}
.switch-label {
    font-weight: bold;
    z-index: 2;
    flex: 1;
    line-height: 30px;
    font-size: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.switch-input {
    display: none;
}
/* change label color and transition effects when selected */
.switch-input:checked + .switch-label {
    color: black;
    transition: color 0.15s ease-out, text-shadow 0.15s ease-out;
}
.switch-input:checked + .switch-label-y ~ .switch-selector {
    transform: translateX(0%);
    background-color:  #0dcaf0;;
}
.switch-input:checked + .switch-label-i ~ .switch-selector {
    transform: translateX(110%);
    background-color:  #0dcaf0;;
}
.switch-input:checked + .switch-label-n ~ .switch-selector {
    transform: translateX(216%);
    background-color:  #0dcaf0;;
}
/* switch selector (the moving part) */
.switch-selector {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 75px;
    height: 30px;
    border-radius: 30px;
    background-color: #0dcaf0;
    transition: transform 0.3s;
}
/* container for switch control */
.toggle-container {
    display: flex;
    max-width: 310px;
    align-items: center;
    gap: 0;
    margin-top: 0;
}
.info-text {
    font-size: 12px;
    color: #333;
    margin-right: 10px;
}

/* searching on linear tree */
/* search bar */
#search-controls {
    position: sticky; /* keep on screen when scrolling */
    max-width: 310px;
    z-index: 100;
    gap: 10px;
    flex-wrap: nowrap;
}
#prev-button {
    display: none; /* hide initially */
    margin-left: 5px;
}
#next-button {
    display: none; /* hide initially */
    margin-left: 5px;
}
/* highlighted text for search results */
.highlight-text {
    fill: black;
    font-weight: bold;
    paint-order: stroke;
    stroke: yellow; /* highlight color */
    stroke-width: 3px;
}
/* best match / current result highlighted node */
.focused-node {
    stroke: red; /* highlight color */
    stroke-width: 3px;
    fill: black;
}
